
<div class="post-container">
    <div class="post">
        <div class="post-content">
            <p><%= post.user.nickname %> | <%= time_ago_in_words(post.created_at) %> ago </p>
            <h4><%= post.title %></h4>
            <p><%= simple_format(post.caption) %></p>
        </div> 
        <% if post.image.attached? %>
            <div class="post-image-warpper">
                <%= image_tag post.image, style: "max-width: 300px; height: auto;",
                alt: post.title, class: "post-image" %>
            </div>
        <% end %>
        <%# vote count and buttons %>
        <div class="vote_section">
            <div class="votes">
                <% if user_signed_in? %>
                    <% user_vote = post.user_vote(current_user) %>

                    <%= button_to post_votes_url(post),
                        method: :post,
                        params: { value: 1 },
                        class: "vote-btn upvote #{user_vote&.value == 1 ? 'active' : ''}",
                        local: true do %>
                        Upvote
                    <% end %>

                    <%= button_to post_votes_url(post),
                        method: :post,
                        params: { value: -1 },
                        class: "vote-btn downvote #{user_vote&.value == -1 ? 'active' : ''}",
                        local: true do %>
                        Downvote
                    <% end %>

                    <% if user_vote %>
                        <%= button_to post_votes_url(post),
                            method: :post,
                            params: { value: 0 },
                            class: "vote-btn unvote",
                            local: true do %>
                        Remove Vote
                        <% end %>
                    <% end %>
                <% else %>
                    <p><%= link_to "Sign in", new_user_session_path %> to vote. </p>
                <% end %>

                <span class="vote-count"><%= post.vote_count %> votes</span>
            </div>
        </div>
        <div>
            <%= render partial: "comments/comment", collection: post.comments.order(created_at: :asc),
             as: :comment, locals: { post: post } %>
        </div>
        <div>
            <% if user_signed_in? %>
                <%= render "comments/form", post: post, comment: Comment.new %>
            <% else %>
                <p><%= link_to "Sign in", new_user_session_path %> to comment. </p>
            <% end %>
        </div>
    </div> 

    <% if current_user == post.user %>
        <details class="post-actions" role="group" aria-label="Post Actions">
            <summary aria-haspopup="true" aria-expanded="false">...</summary>
            <ul>
                <li><%= link_to "Edit", edit_post_path(post) %></li>
                <li><%= link_to "Delete", post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
            </ul>
        </details>
    <% end %>
</div>